*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nev-logo{
    height: 50px;
    width:100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid rgb(236, 236, 236);
}
/**box 2 */

.add-first{
    color:hsl(0, 100%, 100%);
    font-size:0.85rem;
    margin: 8px;

  
}

.add-second{
    font-size: 1rem;
 
   

}
.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(241, 237, 235);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #dbdbdb;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 520px;
    font-size: 1rem;
    border: none;
    
}
.search-icon{
    width: 45px;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 200, 73);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;

}
.nav-search:hover{
border: 2px solid orange
}


/*box 4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size:0.85rem ;
    font-weight: 700;
}  


/*box 6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*panel css */
.panel{
    height: 40px;
    background-color: rgb(34, 47, 61);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
/*panel option  */
.panel-option p{
    display: inline;
    margin-left: 15px;

}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: aliceblue;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom:25px;
}
.hero-msg a{
    color: #007185;
}
  /* /* shop -section */

  .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
  }

  .box{
    
    height: 400px;
    width: 23%;
    background-color: white;
     padding: 20px 0px 15px ;
    margin-top:15px;
    }
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
/*footer */
footer{
    margin-top: 20px;
}
.foot-panel1{
    height: 40px;
    background-color: rgb(50, 58, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  
  }
  ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
  }
  .foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 5px solid #e6e8ea;
   display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
   }
   .foot-panel4{
    background-color: #0f1111;
    color: white;
   height: 80px;
    }

    .pages{
        font-size: 0.7rem;
        text-align: center;
        padding-top: 25px;

    }
    .copyright{
        font-size: 0.85rem;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }


  